body{
    font-family: Montserrat, sans-serif;
    background-color:gainsboro;
}
.navbar{
    font-family: Montaga, serif;
    background-color: #5e0000;
    overflow:hidden;
    font-weight:bold;
    border-bottom: 1px solid black;
}

.navbar a{
    display:block;
    padding: 14px 16px;
    color:gainsboro;
    font-size:17px;
}
.navbar a:hover{
    color:darkslategrey;
    background-color:gainsboro;
}
.firstContainer{
    border:1px solid #5e0000;
    position:relative;    
}
.firstContainer img{
    max-width:auto;
    width:100%;
    overflow:hidden;
    object-fit:cover;
    height:690px;
}
.firstContainer h2{
    left:50%;
    top:45%;
    transform: translate(-50%, -50%);
    position:absolute;
    font-weight:bolder;
    color:black;
}
.introText{
    left:50%;
    top:75%;
    color:gainsboro;
    transform: translate(-50%, -50%);
    position:absolute;
    text-align:center;
    line-height:24pt;
}
.introPara{
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border:1px solid transparent;
    border-radius:10px;
}
.FirstParaadd{
    color:black;
    position:relative;
    top:30%;
    /*this doesn't fucking work for some reason goddammit. I want it to be placed closer to the bottom. */
}


.secondContainer{
    border:1px solid #5e0000;
    position:relative;
}
.introWorks{
    left:50%;
    top:21.5%;
    transform: translate(-50%, -50%);
    position:absolute;
    color:gainsboro;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border:1px solid transparent;
    border-radius:10px;
}
.introWorks h2{
    text-align:center;
    font-weight:bolder;
}
.secondContainerImg{
    max-width:auto;
    width:100%;
    overflow:hidden;
    object-fit:cover;
    height:690px;
}
.works{
    margin: 0 auto;
    top:30%;
    position:absolute;
    display:flex;
    justify-content: center;
}
.works h3{
    text-align:center;
    font-family: Montaga, serif;
}
.works p{
    text-align:center;
}
.card1{
    border:1px solid #5e0000;
    max-width:auto;
    width:20%;
    max-height:auto;
    margin:40px;
    padding:0;
    height:400px;
    background:gainsboro;
}
.card1 img{
    max-width:auto;
    width:100%;
    object-fit:cover;
    height:205px;
}
.card1text{
    padding:12px;
}
.card2{
    border:1px solid #5e0000;
    max-width:auto;
    width:20%;
    max-height:auto;
    margin:40px;
    padding:0;
    height:400px;
    background:gainsboro;
}
.card2 img{
    max-width:auto;
    width:100%;
    object-fit:cover;
}
.card2text{
    padding:12px;
}