html, body{
  height:99%;
  color:white;
  font-family: "Quicksand", sans-serif;
}
a{
  text-decoration:none;
  color:inherit;
  display:block;
}
* {
  box-sizing: border-box;
}

/*SPLASH SCREEN*/
.container-intro{
  animation-name:splash-load, splash-unload;
  animation-duration:0.5s, 0.5s;
  animation-delay:0.1s, 4s;
  animation-fill-mode: forwards;
  background:black;
  color:white;
  display:flex;
  font-family: "Quicksand", sans-serif;
  font-size:5em;
  height:100%;
  opacity:0;
  z-index:1000;
}
@keyframes splash-load{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@keyframes splash-unload{
  from{
    height:100%;
  }
  to{
    visibility: hidden;
    height:0%;
  }
}
.intro-text{
  margin:auto;
  text-align:center;
}
.text-1{
  opacity:0;
  animation-name:fade-in, fade-out;
  animation-duration:1s, 0.1s;
  animation-delay:1s, 4s;
  animation-fill-mode: forwards;
  
}
.text-2{
  opacity:0;
  animation-name:fade-in, fade-out;
  animation-duration:1s 0.1s;
  animation-delay:2s, 4s;
  animation-fill-mode: forwards;
  
}
@keyframes fade-in{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@keyframes fade-out{
  from{
    opacity:1;
  }
  to{
    opacity:0;
    visibility: hidden;
  }
}
/*CONTENT*/

.container{
  display:grid;
  height:0%;
  grid-template-columns: 60% 30% 10%;
  grid-template-rows:50% repeat(3,1fr);
  grid-template-areas: "about blog blog"
                       "about works link"
                       "about works link"
                       "about works link";
  animation-name:make-visible;
  animation-duration:0.5s;
  animation-delay:4s;
  animation-fill-mode: forwards;

}
@keyframes make-visible{
  from{
    height:0%;
    
  }
  to{
    height:100%;
    
  }
}
.about-box{
  background-image:url("https://raw.githubusercontent.com/AIndoria/portfolio/master/img/about.jpg");
  background-size:cover;
  position: relative;
  display:flex;
  grid-area: about;
  height:100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}
.darken-about{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("https://raw.githubusercontent.com/AIndoria/portfolio/master/img/about.jpg");

}
.about-text{
  align-items:center;
  display:flex;
  flex-direction: column;
}
.about-heading{
  font-size:4em;
}

.about-desc{
  font-family:"Questrial", serif;
  padding:40px;
  text-align:center;
  font-size:2em;
  animation-name:fade-in;
  animation-duration:0.5s;
  animation-delay:4.5s;
  animation-fill-mode: forwards;
  opacity:0;
}

hr{
  visibility: hidden;
  animation-name:hr-width;
  animation-duration:0.5s;
  animation-delay:4.5s;
  animation-fill-mode: forwards;
}
@keyframes hr-width{
  from{
    visibility: hidden;
    width:0%;
  }
  to{
    visibility: visible;
    width:100%;
  }
}


.blog-box{
  background-image:url("https://raw.githubusercontent.com/AIndoria/portfolio/master/img/blog.jpg");
  display:flex;
  grid-area: blog;
  height:100%;
  background-size:cover;
  overflow: hidden;
}
.darken-blog{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("https://raw.githubusercontent.com/AIndoria/portfolio/master/img/blog.jpg");
  
}
.blog-text{
  margin:auto;
  font-size:3.5em;
}
.works-box{
  background-image:url("https://raw.githubusercontent.com/AIndoria/portfolio/master/img/works.png");
  background-size:cover;
  display:flex;
  grid-area: works;
  height:100%;
}
.darken-works{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("https://raw.githubusercontent.com/AIndoria/portfolio/master/img/works.png");
}
.works-text{
  font-size:2.75em;
  margin:auto;
}
.links-box{
  grid-area:link;
  display:flex;
  flex-direction: column;
  height:100%;
  visibility: hidden;
  animation-name:link-visible;
  animation-duration:0.5s;
  animation-delay:4.0s;
  animation-fill-mode: forwards;
  
}
.links-github{
  flex:1;
  display:flex;
  background:black;
  justify-content: center;
  align-items:center;

}
.links-linkedin{
  flex:1;
  display:flex;
  background: navy;
  justify-content: center;
  align-items:center;
}
.links-twitter{
  flex:1;
  display:flex;
  background: cornflowerblue;
  justify-content: center;
  align-items:center;
  

}
@keyframes link-visible{
  from{
    visibility: hidden;
  }
  to{
    visibility: visible;
  }
}