body, html{
    font-family:'Alegreya Sans SC', Sans-Serif;
    background-color:gainsboro;
    height:100%;
    margin:0;
}
body a{
    color:gainsboro;
    text-decoration:none;
}
body a:hover{
    color:white;
    text-shadow:2px 4px 5 black;
}
.element_intro{
    background-image:url("../img/element1.jpg");
    height:100%;
    position:relative;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    z-index:0;
}
.navbar{
    position:sticky;
    top:10px;
    z-index:10;
}
.navbar_title{
    float:left;
    font-size:20px;
    color:gainsboro;
    font-weight:bolder;
    margin: 10px 0 0 40px;
}
.navbar_links{
    float:right;
    font-size:20px;
    color:gainsboro;
    font-weight:bolder;
    margin: 10px 40px 0 0;
    word-spacing:40px;
    background-color:#2a2a2b;
    padding: 0 10px 0 10px;
}
.navbar_links a{
    text-shadow: 1px 2px 0 black;
}

.intro_captions{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align:center;
    z-index:1
}
.intro_captions span.intro_text{
    background-color:#2a2a2b;
    color:gainsboro;
    padding:10px 15px;
    font-size:46px;
    letter-spacing:10px;
    z-index:1
}
.intro_continue{
    position: absolute;
    top:90%;
    left:50%;
    color:gainsboro;
    font-size:20px;
    background-color:#2a2a2b;
    padding:0 10px 0 10px;
    transform: translate(-50%, -50%);
}
.element_works{
    background-image:url("../img/element2.jpg");
    height:100%;
    position:relative;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    z-index:0;
}
.works_captions{
    position:absolute;
    left:50%;
    top:20%;
    transform: translate(-50%, -50%);
    text-align:center;
    z-index:1
}
.works_captions span.works_caption_desc{
    background-color:#2a2a2b;
    color:gainsboro;
    font-size:24px;
    padding: 5px 10px;
    letter-spacing:5px;
    z-index:1
}
.works_captions span.works_cards_heading{
    font-size:46px;
    text-shadow: 1px 1px 2px white;
}