<div class="work__title">Things I've Tinkered With</div>
<div class="works__desc">
  <div class="desc__paragraph">Here are a bunch of things I've made so far. Most of the functionality is utilized  with native barebones HTML, CSS and Javascript. As I learn new frameworks, technologies or languages, you'll see more of my newer projects using those specific techs, or you'll see a refactor/rewrite of my old projects.</div>
  <div class="desc__tiles">
    <div class="tiles tiles__1">
      <div class="tiles__img"></div>
      <div class="tiles__desc">
        <h3>Lupus Familiaris/IN.PROGRESS</h3>
        <p>Search for adoptable friends near your location!</p>
      </div>
    </div>
    <div class="tiles tiles__2">
      <div class="tiles__img"></div>
      <div class="tiles__desc">
        <h3>Basic Wikipedia Search</h3>
        <p>Search for Wikipedia articles by Term.</p>
      </div>
    </div>
    <div class="tiles tiles__3">
      <div class="tiles__img"></div>
      <div class="tiles__desc">
        <h3>Is ISS Above You</h3>
        <p>Determine if ISS is visible near your location, & direction and distance if it is.</p>
      </div>
    </div>
    <div class="tiles tiles__4">
      <div class="tiles__img"></div>
      <div class="tiles__desc">
        <h3>Weather Client</h3>
        <p>One of my first apps - polling weather from OpenWeatherMaps.</p>
      </div>
    </div>
    <div class="tiles tiles__4">
      <div class="tiles__img"></div>
      <div class="tiles__desc">
        <h3>Odd Javascript Euler Problems</h3>
        <p>Odd JS Problems and my attemtps at solving them.</p>
      </div>
    </div>
  </div>
</div>