<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>INDORIA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="styles/final/styles.css" />
  <script src="scripts/final/scripts.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Basic|Cinzel|Yrsa" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="rect">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
    </div>
    
    <div class="header">Abhishek Indoria</div>
    <div class="navigation">
      <div class="navigation__item">Home</div>
      <div class="navigation__item">Blog</div>
      <div class="navigation__item">Works</div>
      <div class="navigation__item">Github</div>
    </div>
    <div class="title">Hello</div>
    <div class="title__desc">Thanks for visiting. I am a software engineer currently working in Arizona. I don't like the "different-but-same-but-different" bootstrap webpages. <a href="http://adventurega.me/bootstrap/">Here</a> is a good example of those. I also prefer functionality over form, and try to keep things simple. You're more than welcome to send comments using my email. Tools used in creating this website are on this <a href="https://github.com/aindoria/portfolio">Github readme.</a>
    <p>You can contact me at my <a href="mailto:indoria@aindoria.com">email</a>, or check out my work at Github. Please note that a lot of projects will always be in the middle of refactoring. I am open to relocation within the United States.</p></div>
    <div class="title__access">Click here for Text-Only version.</div>
    <% include partials/works.ejs %>
  </div>
</body>
</html>